@charset "utf-8";
/* CSS Document */
#log-reg .header{ border-bottom:#b20005 solid 5px;box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);}
.login_panel{  text-align: center; margin-top: 30px;}

.login_panel .text {
    border-bottom: 1px solid #0050CD;
    height: 40px;
    margin: 5px 0;
    width: 80%;
}

.login_panel input{
	background-color: transparent;
	border: none;
	text-align: center;
	margin-bottom: 30px;
}
.login_panel .login_box h2{ font-weight:normal; padding:5px 0; }
.login_panel .login_box{ padding:10px;}
.login_panel .login_box .sub_btn{ width:80%; padding:10px 0; font-size:16px; font-family:"微软雅黑"; cursor:pointer; margin-top: 15px;}
.login_panel .login_box p{ color:#333; font-size:16px; margin:5px 0;}
.login_panel .login_box p a{color:#0050CD; text-decoration:underline;}