<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th style="width:200px;">订单号</th>
                <th style="width:250px;">付款时间</th>
                <th>支付金额</th>
                <th>订单状态</th>
            </tr>
            <!-- {foreach from=$orders item=order} -->
            <tr>
                <th>{$order.order_sn}</th>
                <th>{$order.pay_time|date:complete}</th>
                <th>{$order.order_amount|price}</th>
                <th>
                    <!-- {if $order.status == 11} -->
                    待付款
                    <!-- {elseif $order.status == 20} -->
                    待发货
                    <!-- {elseif $order.status == 30} -->
                    已发货
                    <!-- {elseif $order.status == 40} -->
                    已完成
                    <!-- {elseif $order.status == 0} -->
                    已取消
                    <!-- {/if} -->
                </th>
            </tr>
            <!-- {/foreach} -->
        </table>
    </div>
</body>
</html>