<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        商城首页图片：
        <form method="post" enctype="multipart/form-data">
            <h5 style="color:red;">
                请上传1563x699比例.png格式的图片
            </h5>
            <input type="file" name="indeximg" />
            <input type="submit" value="上传"/>
        </form>
        <img src="http://120.24.156.120/themes/wapmall/default/styles/default/images/banner_4.png" style="width: 200px;">
    </body>
</html>
