<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
<div>
    <p>金币余额：{$member.coin}</p>
</div>
    <div>
        <!-- {foreach from=$coin_log item=val} -->
            <div>
                <p>时间：{$val.add_time|date}</p>
                <p>操作：{$val.reason}</p>
                <p>金币：{$val.lanyu_coin}</p>
            </div>
        <!-- {/foreach} -->
    </div>
    </body>
</html>
