<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <form method="post" enctype="multipart/form-data">
                <p>活动名称：<input type="text" name="name" value="{$special.name}" /></p>
                <!-- {if $special.image} -->
                <img src='{$special.img}' style='width:100px;' />
                <!-- {/if} -->
                <input type='hidden' value='{$special.special_id}' name='id' />
                <p>活动图片：<input type="file" name="image" /><span style="color:red;font-size: 14px;">*640X200的png图*</span></p>
                <p>开始时间：<input type="datetime-local" name="start" value = "{$start}" /></p>
                <p>结束时间：<input type="datetime-local" name="end" value="{$end}" /></p>
                <p>是否激活：
                    <select name="show">
                        <option value="1" <!-- {if $special.is_show} -->selected = 'selected'<!-- {/if} -->>是</option>
                        <option value="0" <!-- {if !$special.is_show} -->selected = 'selected'<!-- {/if} -->>否</option>
                    </select>（一经激活，就会在商城主页显示）
                </p>
                <p>
                    针对权限：
                    <!-- {foreach from=$sgrade item=grade} -->
                    <input type="checkbox" value="{$grade.grade_id}" name="sgrade[]" />{$grade.grade_name}
                    <!-- {/foreach} -->
                </p>
                <input type="submit" value="确定提交" />
            </form>
        </div>
    </body>
</html>
